/*General styles*/
:root {
  --main-color: #212121;
  --second-color: #757575;
  --accent-color:  #2196F3;
  --button-first-color: #FFFFFF;
  --button-second-color: #2196F3;
}
h1,
h2,
h3,
p {
  margin: 0;
}
.page-body {
  font-family: 'Roboto'; 'sans-serif';
  color: var(--main-color);
  background-color: #F5F5F5;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.button {
font-weight: 700;
font-size: 16px;
line-height: calc(30/16);
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
font-family: inherit;
}
/*Header styles*/
.page-header {
  padding-top: 32px;
  padding-left: 215px;
  padding-bottom: 32px;

}
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31/26);
  letter-spacing: 0.03em; 
  text-decoration: none;
  color: var(--accent-color);
}
.logo-last-part {
  color:
  #000000
  ;
}


.header-link-studio:visited {
  color: var(--accent-color);
}
.header-list-portfolio:visited {
  color: var(--accent-color);

}
.header-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16/14);
  letter-spacing: 0.02em;
  color: var(--main-color);
  }
  
.header-list-link:hover {
  color: var(--accent-color);

}
.header-mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16/14);
  letter-spacing: 0.02em;
  color: var(--second-color);
  text-decoration: none;


}
.header-mail-link:hover {
  color: var(--accent-color);
  text-decoration: none;
}

.header-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16/14);
  letter-spacing: 0.02em;
  color: var(--second-color);
  text-decoration: none;
}
.header-tel-link:hover {
  color: var(--accent-color);  
}


/*Hero styles*/

.main-description {
  padding-top: 200px;
  padding-right: 282px;
  padding-bottom: 92px;
  padding-left: 282px;
  background: #2F303A;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60/44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 610px;
  margin-bottom: 45px;
  
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30/16);
  text-align: center;
  color: var(--button-first-color);
  cursor: pointer;
  background: var(--button-second-color);
  padding: 10px 32px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  display: block;
  

}

.visually-hidden {
  position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.hero-description {
  padding-top: 92px;
  padding-bottom: 94px;
  padding-left: 215px;
  

}
.hero-text-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16/14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 13px;
}
.hero-paragraph-title {
  font-size: 14px;
  line-height:calc(24/14);
  letter-spacing:0.03em;
  color: var(--second-color)
  width: 270px;
  height: 76.41px;
  left: 215px;
  top: 795.59px;
  max-width: 270px;
}
/*Work styles*/
.work-description {
  padding: 94px;
  padding-left: 215px;

  
  background: #F5F4FA;
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42/36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
  }


/*About styles*/
.about-description {
  padding-left: 215px;
  
  
}
.about {
  background: #F5F4FA;
  
}

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42/36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  padding-bottom: 50px;

  

}
.about-after-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19/16);
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin: 30px 70px 10px 70px;
}
.about-text {
  font-size: 16px;
  line-height: calc(19/16);
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin: 10px;
  

}

/*Footer styles*/
.page-footer {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 215px;
  background: #2F303A;
}
.logo-footer {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31/26);
  text-decoration: none;
  color: var(--accent-color);
  font-family: 'Raleway';
}
.logo-footer-part {
  color: #FFFFFF;
  
  ;
}
.footer-nav-link {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24/14);
  letter-spacing: 0.03em;
  color: #FFFFFF;
  
  text-decoration: none;
}
.footer-nav-link:hover {
  color: var(--accent-color);
  text-decoration: none; 
}

.footer-mail-link {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24/14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  
  text-decoration: none;
}
.footer-mail-link:hover {
  color: var(--accent-color);
  text-decoration: none; 
}

.footer-tel-link {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24/14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  
  text-decoration: none;
}
.footer-tel-link:hover {
  color: var(--accent-color);
  text-decoration: none; 
}
.portfolio-button {
font-size: 16px;
line-height: calc(26/16);
border-radius: 4px;
color: #212121;
background: #F5F4FA;
padding: 6px 22px;
margin: 0;
}


.portfolio-button:hover {
background-color:  var(--button-second-color);
color: #FFFFFF;

}

.galery-after-title {
font-weight: 700;
font-size: 18px;
line-height: calc(36/18);
letter-spacing: 0.06em;
color: var(--main-color) 
}
.about-text {
font-size: 16px;
line-height: calc(30/16);
letter-spacing: 0.03em;
color: var(--second-color)
}